*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
header{
  background-color: #CE0505;
  padding: 13px 0px;
}
.header-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.logo{
  width: 50%;

}
.main-logo{
  width: 46px;
  height: 46px;
  background-color: #fff;
 
  border-radius: 100%;
}
.main-logo h1{
  display: flex;
  justify-content: center;
  align-items: center;
 color: #CE0505;

}
.buttons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.login h3{
  margin-right: 39px;
  color: #fff;
  margin-top: 12px;
}
.create-btn{
  padding: 0px 24px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 10px;
}

.body-heading{
  padding: 13px 0px;
}

.item-sec{
  display: flex;
}

.filter-sort-mb{
  display: none;
}

.filter{
  
  width: 25%;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
 
  padding: 27px;
}


.filter p{
  margin: 10px 0px;
  font-weight: 500;
  color: #192F60;
}

.filter label{
  color: #8C96AB;
  font-size: 14px;
  margin-left: 6px;
}

  input[type="checkbox"]:checked{
    border: 2px solid #FAFBFC !important;
border-radius: 2px;
color: #8C96AB;
}

select{
  width: 100%;
  padding: 8px 0px;
  border-radius: 3px;
  border: 1px solid #8C96AB;
}
.filter input{
  margin-bottom: 12px;
}
.filter label{
  font-size: 14px;
  margin-left: 8px;
  color: #8C96AB;
}
.item-lists{
  width: 70%;
  margin-left: 5%;
  /* height: 400px; */

}
.item-number{
 padding: 20px;
 background-color: #fff;
 box-shadow: 0px 3px 6px #00000029;
 margin-bottom: 25px;
}
 .item-number hr{
  height: 1px;
  border-color: #00000029;
  border-width: 1px;
  margin-top: 20px;
} 
.item-description{
  display: flex;
  flex-wrap: wrap;
}
.item-img{
  width: 17%;
}
.item-img img{
  width: 120px;
  height: 120px;
  border-radius: 24px;
}
.item-text{
  width: 70%;
  padding-top: 13px;
}

.item-text h1{
  letter-spacing: 0px;
}

.item-text h3{
 display: none;
}

.item-text h5{
  display: none;
 }

.item-text p{
  color: #8C96AB;
  
}
.item-text h4{
  color: #8C96AB;
}
.item-type{
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0px;
  
}
.item-name{
  width: 20%;
}
.item-name p{
  text-transform: uppercase;
  color: #8C96AB;
}
.item-price{
  width: 70%;
}
.item-price p{
  color: #8C96AB;
}
.pagination {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.pagination a {
  color:#8C96AB;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin-left: 10px;
  border-radius: 10px;
}

@media screen and (max-width:600px) {
 header{
  background-color: #CE0505;
  padding: -1px 0px;
 }
 .container{
  max-width: 600px;
  margin: 0 auto;
}

.login h3 {
  margin-right: 195px;
  color: #fff;
  margin-top: 13px;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
}

.create-btn {
  padding: 0px 12px;
  background: none;
  color: #fff;
  border: 1px solid #fff;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 500;
  border-radius: 10px;
  margin-top: -35px;
}

.body-heading {
  padding: 13px 0px;
  padding-left: 15px;
}
.filter{
  display: none;
}

.filter-sort-mb{

  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
  padding: 15px;
  display: block;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
}

.filter-sort-mb img{ 
  height: 27px;
  width: 27px;
  margin-left: 235px;
}


.item-lists {
  width: 100%;
  margin-left: 0%;
  /* height: 400px; */
}

.item-text h1{
  display: none;
}

.item-text h4{
  display: none;
}

.item-text h3{
  letter-spacing: 0px;
  display: contents;
}

.item-text h5{
  color: #8C96AB;
  display: contents;
}

.item-text p {
  color: #8C96AB;
  font-size: 12px;
}

.item-img img {
  width: 85px;
  height: 85px;
  border-radius: 24px;
}

.item-text {
  width: 70%;
  padding-top: 0px;
  margin-left: 30px;
}

.item-price {
  width: 60%;
  margin-left: 10px;
  font-size: 13px;
}

.item-description {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -13px;
}

.item-name {
  width: 30%;
}

.item-name p {
  text-transform: uppercase;
  color: #8C96AB;
  font-size: 13px;
}

.item-price {
  width: 60%;
  margin-left: 10px;
  font-size: 13px;
}

}